    p {
        color: #ffffff;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    body {
        background-color: #18151f;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../img/teresina.jpg");
    }